.wrapper {
    display: flex;
    flex-direction: column; // quay theo chieu doc
    align-items: center; // can ra giua
}
.container{
    width: var(--default-layout-width-content, 1150px);
    max-width: 100%; // trình duyệt co nhỏ lại hiển thị bằng độ rộng trình duyệt
    min-height: 1000px;
    display: flex; // cac components nam ngang
    margin-top: var(--default-layout-header-height);
}
.content{
    flex: 1; // chiem het khoang khong con lai
    min-height: 1000px;
    background-color: #cca; 
    
}